header .navbar{
	min-height: 70px;
	padding: 20px 0;
	/*background-color: red;*/
}
/*解决手机端bug*/
@media only screen and (max-width:768px ) {
	header .navbar-collapse ul.navbar-nav{
		width:100%;
		margin: 0 auto;/*设置居中*/
	}
	.flexslider .flex-caption{
		display: none;/*标题在手机上不可见*/
	}
}
/*解决导航条中active样式*/
.navbar-nav .active a{
	border:1px solid #e48907;
	background:none !important;/*给最高权重*/
	}
/*轮播样式*/
.flex-caption{
	color:#fff;
	background-color: transparent;
	position: absolute;
	top:160px;
	left:450px;
}
.flex-caption h3{
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 5px 5px 10px rgba(255,0,0,0.3);
}
/*控制Our Product中文字样式*/
.product-box p{
	line-height: 1.8em;
	text-indent: 2em;
}
.produce-box{
	margin-bottom: 15px;
}
/*控制四列文字样式*/
.skill-home span{
	font-size: 42px;
	color:#e48907;
	text-anchor: center;
	padding: 36px 0 14px 0;
	
}
.skill-home h3{
	font-size: 20px;
	font-weight: 600;
}
.skill-home a{
	color:#0c1ff5a;
}
.skill-home p{
	line-height: 1.8em;
}
/*设置鼠标移动到矩形区域的hover效果*/
.skill-home .box:hover{
	background-color:#e48907;
	color:white;
	cursor:pointer
}
/*设置鼠标移动到矩形区域以后字体图标的效果*/
.skill-home .box:hover .iconfont{
	color:#fff;
}
.skill-home .box{
	border:1px solid #ccc;
}
/*关于我们部分代码*/
.aboutus img{
	width:100%;
}
.aboutus{
	padding: 50px 0 10px ;
	background-color:#f5f5f5;
}
.aboutus p{
	line-height: 2em;
}
/*脚部代码*/
footer{
	padding: 50px 0 0 0;
	color:#949494;
	background-color: #080808;
}
footer a{
	color:#949494;
}
footer a:hover{
	color:#EEEEEE;
	text-decoration: none;
}
footer h5{
	color:white;
}
